In [ ]:
#from importlib import reload
import src.decks
import src.parser
import src.saving
#reload(src.saving);
#reload(src.decks);
#reload(src.parser);
from src.parser import Parser
from src.decks import Deck, deckGen, loadDeck
import numpy as np
from textwrap import wrap
import pandas as pd

In [2]:
x = deckGen(numDecks=40000, chunkSize=10000, filename='decktest_deck4')

In [3]:
y = loadDeck('data/decktest_decks')

In [4]:
w = Parser(y)
res = w.allPairs()

In [5]:
pd.DataFrame.from_dict(res).sort_index().sort_index(axis=1)

,000,001,010,011,100,101,110,111
000,"(0, 0, 0)","[20207, 18940, 853]","[28189, 11162, 649]","[32124, 7112, 764]","[39998, 1, 1]","[29035, 10103, 862]","[39534, 372, 94]","[19398, 19422, 1180]"
001,"[18940, 20207, 853]","(0, 0, 0)","[4963, 34542, 495]","[1468, 38201, 331]","[39886, 92, 22]","[2761, 36659, 580]","[19096, 18993, 1911]","[379, 39504, 117]"
010,"[11162, 28189, 649]","[34542, 4963, 495]","(0, 0, 0)","[19561, 19328, 1111]","[22339, 16791, 870]","[19593, 19444, 963]","[36713, 2702, 585]","[10162, 29023, 815]"
011,"[7112, 32124, 764]","[38201, 1468, 331]","[19328, 19561, 1111]","(0, 0, 0)","[19406, 19404, 1190]","[16888, 22244, 868]","[79, 39904, 17]","[1, 39999, 0]"
100,"[1, 39998, 1]","[92, 39886, 22]","[16791, 22339, 870]","[19404, 19406, 1190]","(0, 0, 0)","[19480, 19443, 1077]","[38292, 1380, 328]","[7160, 32020, 820]"
101,"[10103, 29035, 862]","[36659, 2761, 580]","[19444, 19593, 963]","[22244, 16888, 868]","[19443, 19480, 1077]","(0, 0, 0)","[34420, 5032, 548]","[10947, 28356, 697]"
110,"[372, 39534, 94]","[18993, 19096, 1911]","[2702, 36713, 585]","[39904, 79, 17]","[1380, 38292, 328]","[5032, 34420, 548]","(0, 0, 0)","[18852, 20391, 757]"
111,"[19422, 19398, 1180]","[39504, 379, 117]","[29023, 10162, 815]","[39999, 1, 0]","[32020, 7160, 820]","[28356, 10947, 697]","[20391, 18852, 757]","(0, 0, 0)"