In [ ]:
from importlib import reload
import src.decks
import src.saving
reload(src.saving);
reload(src.decks);
from src.heatmaps import make_heatmap
from src.decks import Deck, deckGen, loadDeck
import numpy as np
from textwrap import wrap
import pandas as pd

In [2]:
#x = deckGen(numDecks=40000, chunkSize=10000, filename='decktest_deck4')

In [ ]:
y = loadDeck('data/decktest_decks')

:

:

In [ ]:
w = Parser(x)
res = w.rawOut()

In [ ]:
res

,000,001,010,011,100,101,110,111
000,"(0, 0, 0)","[13236, 26764]","[23040, 16960]","[21494, 18506]","[36839, 3161]","[22013, 17987]","[30017, 9983]","[20105, 19895]"
001,"[27375, 12625]","(0, 0, 0)","[8822, 31178]","[4315, 35685]","[39631, 369]","[9941, 30059]","[20333, 19667]","[10375, 29625]"
010,"[17536, 22464]","[31712, 8288]","(0, 0, 0)","[17301, 22699]","[19624, 20376]","[20318, 19680, 2]","[30557, 9443]","[18565, 21435]"
011,"[19179, 20821]","[36069, 3931]","[23481, 16519]","(0, 0, 0)","[20426, 19574]","[21147, 18853]","[382, 39618]","[3254, 36746]"
100,"[3357, 36643]","[421, 39579]","[21129, 18871]","[20458, 19542]","(0, 0, 0)","[23570, 16430]","[36045, 3955]","[19013, 20987]"
101,"[18549, 21451]","[30704, 9296]","[20389, 19609, 2]","[19634, 20366]","[17215, 22785]","(0, 0, 0)","[31687, 8313]","[17228, 22772]"
110,"[10493, 29507]","[20792, 19208]","[10052, 29948]","[39666, 334]","[4338, 35662]","[8878, 31122]","(0, 0, 0)","[27101, 12899]"
111,"[20347, 19653]","[30127, 9873]","[22019, 17981]","[36924, 3076]","[21704, 18296]","[23368, 16632]","[13493, 26507]","(0, 0, 0)"